POSTGRES_DB=archguard
POSTGRES_USER=archguard
POSTGRES_PASSWORD=change-this-local-password
ARCHGUARD_WEB_PORT=8080
ARCHGUARD_JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=75.0
LLM_API_KEY=
ARCHGUARD_LLM_MODEL=llama-3.3-70b-versatile
